@model TestTask.DTO.CatalogDTO
@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<div class="text-left">
    <button>import folder from json</button>
    <div class="item">
        @if (Model.ParrentCatalog != null)
        {
            <a asp-controller="Catalog"
               asp-action="GetCatalogById"
               asp-route-id="@Model.ParrentCatalog.Id">
                @Model.ParrentCatalog.Name
            </a>
        }

        <h2>Folder - @Model.CurrentCatalog.Name:</h2>

        @if (Model.ChildCatalogs != null)
        {
            <h4>Sub Folders:</h4>
            <ul>
                @foreach (var childDir in Model.ChildCatalogs)
                {
                    <li>
                        <a asp-controller="Catalog"
                           asp-action="GetCatalogById"
                           asp-route-id="@childDir.Id">
                            @childDir.Name
                        </a>
                    </li>
                }
            </ul>
        }
        <a asp-controller="File"
               asp-action="ExportFolderToJson"
               asp-route-parrentId="@Model.CurrentCatalog.Id">
            export this folder to json
            </a>
    </div>
</div>
